@import '../../../../uiKit/colors';

.newClass {
  color: $accent-sand;
  border-radius: 8px;
}

.newRail {
  height: 16px !important;
  background: $accent-sand !important;
  border-radius: 8px !important;
  @media (max-width: 767px) {
    height: 12px !important;
  }
}

.newTrack {
  height: 16px !important;
  background: $accent-orange !important;
  border-radius: 8px !important;
  @media (max-width: 767px) {
    height: 12px !important;
  }
}

.newThumb {
  width: 32px !important;
  height: 32px !important;
  margin-top: -10px !important;
  margin-left: -10px !important;
  background-color: #ffffff !important;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15) !important;
  &::before {
    content: "";
    width: 14px;
    height: 14px;
    display: block;
    border-radius: 50%;
    background: $accent-orange;
  }
  @media (max-width: 767px) {
    width: 24px !important;
    height: 24px !important;
    margin-top: -8px !important;
    margin-left: -8px !important;
  }
}

.newLabel {
  left: calc(-50% + 3px) !important;
  top: -62px !important;
  @media (max-width: 767px) {
    left: calc(-50% + 2px) !important;
    top: -46px !important;
  }
}

.newLabel span {
  background-color: rgba(33, 33, 33, 0.1) !important;
  color: $gray !important;
  font-weight: 500 !important;
  font-size: 24px !important;
  line-height: 150% !important;
  width: 57px !important;
  height: 57px !important;
  @media (max-width: 767px) {
    width: 44px !important;
    height: 44px !important;
    font-size: 18px !important;
  }
  span {
    background-color: transparent !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}